<h3>Aria Labelled by</h3>

<label id='label-red'>Red</label>
<RadioButton @name="aria-example" @ariaLabelledby="label-red" @value="red" @groupValue={{this.color}} />

<label id='label-blue'>Blue</label>
<RadioButton @name="aria-example" @ariaLabelledby="label-blue" @value="blue" @groupValue={{this.color}} />

<label id="label-purple">Purple</label>
<RadioButton @name="aria-example" @ariaLabelledby="label-purple" @ariaDescribedby="info" @value="purple" @groupValue={{this.color}} />
<p id="info">
  This color is created by combining Blue and Red.
</p>
