<h3>Autofocus</h3>

<RadioButton @autofocus={{true}} @name="autofocus-example" @value="green" @groupValue={{this.color}}>
  green (autofocused)
</RadioButton>
<RadioButton @name="autofocus-example" @value="red" @groupValue={{this.color}}>
  red
</RadioButton>
