<style media="screen">
  .has-inner-span .inner-span {
    position: relative;
    padding-left: 20px;
  }
  .has-inner-span .inner-span:after {
    content:'';
    width:15px;
    height:15px;
    border:1px solid;
    position:absolute;
    left:0;
    top:1px;
    border-radius:50% 0;
    box-sizing:border-box;
  }
  .has-inner-span input[type="radio"] {
    display: none;
  }
  .has-inner-span input[type="radio"]:checked + .inner-span {
    color:blue;
  }
  .has-inner-span input[type="radio"]:checked + .inner-span:before {
    content:'';
    width:15px;
    height:15px;
    border:3px solid yellow;
    position:absolute;
    background-color: red;
    left:0;
    top:1px;
    border-radius:50% 0;
    box-sizing:border-box;
  }
</style>

<h3>Advanced styling with hasInnerSpan</h3>

<p style="background-color: #F7F7F7;padding: 15px 20px;">
  <code>
    \{{#radio-button value="Standard behavior if `hasInnerSpan` is null." groupValue=styled}}<br>
      &nbsp;&nbsp;Standard<br>
    \{{/radio-button}}<br>
    \{{#radio-button value="If `hasInnerSpan` is true, label text is wrapped in `span.inner-span` element for easier styling." groupValue=styled hasInnerSpan=true}}<br>
      &nbsp;&nbsp;hasInnerSpan<br>
    \{{/radio-button}}<br>
  </code>
</p>
<strong>Behavior:</strong> {{styled}}
<p>
  {{#radio-button value="Standard behavior if `hasInnerSpan` is null." groupValue=styled}}
    Standard
  {{/radio-button}}
  {{#radio-button value="If `hasInnerSpan` is true, label text is wrapped in `span.inner-span` element for easier styling." groupValue=styled hasInnerSpan=true}}
    hasInnerSpan
  {{/radio-button}}
</p>
