<h3>Aria Labelled by</h3>

<label id='label-red'>Red</label>
{{radio-button name="aria-example" ariaLabelledby="label-red" value="red" groupValue=color}}

<label id='label-blue'>Blue</label>
{{radio-button name="aria-example" ariaLabelledby="label-blue" value="blue" groupValue=color}}

<label id="label-purple">Purple</label>
{{radio-button name="aria-example" ariaLabelledby="label-purple" ariaDescribedby="info" value="purple" groupValue=color}}
<p id="info">
  This color is created by combining Blue and Red.
</p>
