<h3>Autofocus</h3>
{{#radio-button autofocus=true name="autofocus-example" value="green" groupValue=this.color}}
  green (autofocused)
{{/radio-button}}
{{#radio-button name="autofocus-example" value="red" groupValue=this.color}}
  red
{{/radio-button}}
