<p style="background-color: #F7F7F7;padding: 15px 20px;">
  <code>
    \{{#radio-button checkedWhen="green" value=color changed="colorChanged"}}<br>
      &nbsp;&nbsp;Green<br>
    \{{/radio-button}}<br>
    \{{#radio-button checkedWhen="blue" value=color changed="colorChanged"}}<br>
      &nbsp;&nbsp;Blue<br>
    \{{/radio-button}}<br>
  </code>
</p>
<strong>Selected Color:</strong> {{color}}
<p>
  {{#radio-button checkedWhen="green" value=color changed="colorChanged"}}
    Green
  {{/radio-button}}
  {{#radio-button checkedWhen="blue" value=color changed="colorChanged"}}
    Blue
  {{/radio-button}}
</p>
